<main>
    <section class="bg-orange-600 h-lvh">
        <nav class=" flex justify-between mb-8 p-8 px-44">
            <img class="h-12"
                src="https://res.cloudinary.com/dutdah0l9/image/upload/v1720058694/Swiggy_logo_bml6he.png" />
            <div class="flex justify-around items-center w-1/2">
                <a class="font-bold text-white">Swiggy Corporate</a>
                <a class="font-bold text-white">Partner with us</a>
                <button class="bg-transparent border border-white rounded-xl text-white font-bold p-4 w-40">Get The
                    App</button>
                <button class="bg-black rounded-xl text-white font-bold p-4 w-40">
                    Sign In</button>
            </div>
        </nav>
        <div class="flex w-full justify-between">
            <img class="h-[450px] w-[250px]"
                src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/portal/testing/seo-home/Veggies_new.png" />
            <div class="text-center">
                <h1 class="text-5xl text-white font-bold my-8">Order food & groceries. Discover <br> best restaurants.
                    Swiggy
                    it!
                </h1>
                <div class="flex">
                    <div
                        class="bg-white p-4 flex justify-between items-center rounded-xl border border-gray-400 w-1/2 mr-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 18 23" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M10.115 21.8122C12.4772 19.4062 17.7886 13.4751 17.7886 8.78883C17.7886 3.79647 13.9976 0 9.00526 0C4.0129 0 0.210938 3.79647 0.210938 8.78883C0.210938 13.4755 5.52998 19.4073 7.89476 21.8129C8.51149 22.4403 9.49871 22.44 10.115 21.8122ZM8.99988 12.7888C11.4269 12.7888 13.3943 10.8214 13.3943 8.39441C13.3943 5.96745 11.4269 4 8.99988 4C6.57292 4 4.60547 5.96745 4.60547 8.39441C4.60547 10.8214 6.57292 12.7888 8.99988 12.7888Z"
                                fill="#FF5200"></path>
                        </svg>
                        <input class="mx-2 w-52 focus:outline-none" placeholder="Enter your delivery location" />
                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" aria-label="rating-down-down-icon"
                            aria-hidden="false" strokeColor="rgba(2, 6, 12, 0.92)" fillColor="rgba(2, 6, 12, 0.92)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M1.372 6.15a1.1 1.1 0 0 0-.117 1.552l7.184 8.355.03.035c.149.173.327.381.504.536.212.186.564.427 1.058.427s.847-.24 1.059-.427c.177-.155.355-.363.504-.536l.03-.035 7.12-8.282a1.1 1.1 0 0 0-1.668-1.434l-7.045 8.194-7.108-8.267a1.1 1.1 0 0 0-1.55-.117"
                                fill="rgba(2, 6, 12, 0.92)" fill-opacity="0.92"></path>
                        </svg>
                    </div>
                    <div class="w-2/3 bg-white flex justify-between p-4 rounded-xl border border-gray-400">
                        <input class="w-64 focus:outline-none" placeholder="Search for restaurant, item or more" />
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100"
                            viewBox="0 0 50 50" fillColor="rgba(2, 6, 12, 0.92)" class="size-6">
                            <path
                                d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
            <img class="h-[450px] w-[250px]"
                src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/portal/testing/seo-home/Sushi_replace.png" />

        </div>
        <div class="px-44 flex -mt-48">
            <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/8/1/fa01e85b-3057-482d-9523-5289722b1df2_Food4BU.png"
                class="w-1/4 hover:cursor-pointer" />
            <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/8/16/ca34e375-f1bd-4a2e-a3e7-0a20833be83b_IM4BU1.png"
                class="w-1/4 hover:cursor-pointer" />
            <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/8/1/76c30e5a-8adb-4795-bf5b-fa64e9e9e1d3_DO4BU.png"
                class="w-1/4 hover:cursor-pointer" />
            <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/MERCHANDISING_BANNERS/IMAGES/MERCH/2024/7/31/14033c0b-8907-420b-b72a-d26cfa68dc7b_Genie4BU.png"
                class="w-1/4 hover:cursor-pointer" />
        </div>
    </section>
    <section class="px-44 py-36">
        <div class="flex">
            <svg (click)="scrollToPrev('order', ordersID)"
                class="bg-gray-300 p-2 rounded-full mr-4 rotate-180 hover:cursor-pointer"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#555" height="30px"
                width="30px" version="1.1" id="Layer_1" viewBox="0 0 330 330" xml:space="preserve">
                <path id="XMLID_27_"
                    d="M15,180h263.787l-49.394,49.394c-5.858,5.857-5.858,15.355,0,21.213C232.322,253.535,236.161,255,240,255  s7.678-1.465,10.606-4.394l75-75c5.858-5.857,5.858-15.355,0-21.213l-75-75c-5.857-5.857-15.355-5.857-21.213,0  c-5.858,5.857-5.858,15.355,0,21.213L278.787,150H15c-8.284,0-15,6.716-15,15S6.716,180,15,180z" />
            </svg>
            <svg (click)="scrollToNext('order', ordersID)" class="bg-gray-300 p-2 rounded-full hover:cursor-pointer"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#555" height="30px"
                width="30px" version="1.1" id="Layer_1" viewBox="0 0 330 330" xml:space="preserve">
                <path id="XMLID_27_"
                    d="M15,180h263.787l-49.394,49.394c-5.858,5.857-5.858,15.355,0,21.213C232.322,253.535,236.161,255,240,255  s7.678-1.465,10.606-4.394l75-75c5.858-5.857,5.858-15.355,0-21.213l-75-75c-5.857-5.857-15.355-5.857-21.213,0  c-5.858,5.857-5.858,15.355,0,21.213L278.787,150H15c-8.284,0-15,6.716-15,15S6.716,180,15,180z" />
            </svg>
        </div>
        <h1 class="font-bold text-2xl">Order our best food options</h1>
        <div class="overflow-y-scroll no-scrollbar">
            <div class="flex">
                <div *ngFor="let item of cardItems1">
                    <app-card [item]="item" [category]="'order'" [id]="cardItems1.indexOf(item)"></app-card>
                </div>
            </div>
            <div class="flex">
                <div *ngFor="let item of cardItems2">
                    <app-card [item]="item" [category]="'orders2'" [id]="cardItems2.indexOf(item)"></app-card>
                </div>
            </div>
        </div>
    </section>
    <section class="px-44">
        <div class="flex">
            <svg (click)="scrollToPrev('grocerie', grocerieID)"
                class="bg-gray-300 p-2 rounded-full mr-4 rotate-180 hover:cursor-pointer"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#555" height="30px"
                width="30px" version="1.1" id="Layer_1" viewBox="0 0 330 330" xml:space="preserve">
                <path id="XMLID_27_"
                    d="M15,180h263.787l-49.394,49.394c-5.858,5.857-5.858,15.355,0,21.213C232.322,253.535,236.161,255,240,255  s7.678-1.465,10.606-4.394l75-75c5.858-5.857,5.858-15.355,0-21.213l-75-75c-5.857-5.857-15.355-5.857-21.213,0  c-5.858,5.857-5.858,15.355,0,21.213L278.787,150H15c-8.284,0-15,6.716-15,15S6.716,180,15,180z" />
            </svg>
            <svg (click)="scrollToNext('grocerie', grocerieID)"
                class="bg-gray-300 p-2 rounded-full hover:cursor-pointer" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" fill="#555" height="30px" width="30px" version="1.1"
                id="Layer_1" viewBox="0 0 330 330" xml:space="preserve">
                <path id="XMLID_27_"
                    d="M15,180h263.787l-49.394,49.394c-5.858,5.857-5.858,15.355,0,21.213C232.322,253.535,236.161,255,240,255  s7.678-1.465,10.606-4.394l75-75c5.858-5.857,5.858-15.355,0-21.213l-75-75c-5.857-5.857-15.355-5.857-21.213,0  c-5.858,5.857-5.858,15.355,0,21.213L278.787,150H15c-8.284,0-15,6.716-15,15S6.716,180,15,180z" />
            </svg>
        </div>
        <h1 class="text-2xl font-bold">Shop groceries on Instamart</h1>
        <div class="overflow-y-scroll no-scrollbar">
            <div class="flex">
                <div *ngFor="let item of groceries">
                    <app-card [item]="item" [category]="'grocerie'" [id]="groceries.indexOf(item)"></app-card>
                </div>
            </div>
        </div>
    </section>
    <img class="py-16"
        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/portal/m/seo/App_download_banner.png" />
</main>