<main>
    <nav class="flex p-4 justify-around items-center shadow-lg">
        <div class="flex justify-around w-1/6">
            <a><svg class="VXJlj" viewBox="0 0 61 61" height="49" width="49">
                    <g clip-path="url(#a)">
                        <path fill="#FF5200"
                            d="M.32 30.5c0-12.966 0-19.446 3.498-23.868a16.086 16.086 0 0 1 2.634-2.634C10.868.5 17.354.5 30.32.5s19.446 0 23.868 3.498c.978.774 1.86 1.656 2.634 2.634C60.32 11.048 60.32 17.534 60.32 30.5s0 19.446-3.498 23.868a16.086 16.086 0 0 1-2.634 2.634C49.772 60.5 43.286 60.5 30.32 60.5s-19.446 0-23.868-3.498a16.086 16.086 0 0 1-2.634-2.634C.32 49.952.32 43.466.32 30.5Z">
                        </path>
                        <path fill="#fff" fill-rule="evenodd"
                            d="M32.317 24.065v-6.216a.735.735 0 0 0-.732-.732.735.735 0 0 0-.732.732v7.302c0 .414.336.744.744.744h.714c10.374 0 11.454.54 10.806 2.73-.03.108-.066.21-.102.324-.006.024-.012.048-.018.066-2.724 8.214-10.092 18.492-12.27 21.432a.764.764 0 0 1-1.23 0c-1.314-1.776-4.53-6.24-7.464-11.304-.198-.462-.294-1.542 2.964-1.542h3.984c.222 0 .402.18.402.402v3.216c0 .384.282.738.666.768a.73.73 0 0 0 .582-.216.701.701 0 0 0 .216-.516v-4.362a.76.76 0 0 0-.756-.756h-8.052c-1.404 0-2.256-1.2-2.814-2.292-1.752-3.672-3.006-7.296-3.006-10.152 0-7.314 5.832-13.896 13.884-13.896 7.17 0 12.6 5.214 13.704 11.52.006.054.048.294.054.342.288 3.096-7.788 2.742-11.184 2.76a.357.357 0 0 1-.36-.36v.006Z"
                            clip-rule="evenodd"></path>
                    </g>
                    <defs>
                        <clipPath id="a">
                            <path fill="#fff" d="M.32.5h60v60h-60z"></path>
                        </clipPath>
                    </defs>
                </svg></a>
            <div class="flex items-center">
                <p class="text-slate-800 border-b-2 border-slate-800 pb-1 mr-2 font-bold">Other</p>
                <svg width="20" height="20" viewBox="0 0 20 21" fill="none" aria-label="rating-down-down-icon"
                    aria-hidden="false" strokeColor="rgba(2, 6, 12, 0.92)" fillColor="rgba(2, 6, 12, 0.92)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M1.372 6.15a1.1 1.1 0 0 0-.117 1.552l7.184 8.355.03.035c.149.173.327.381.504.536.212.186.564.427 1.058.427s.847-.24 1.059-.427c.177-.155.355-.363.504-.536l.03-.035 7.12-8.282a1.1 1.1 0 0 0-1.668-1.434l-7.045 8.194-7.108-8.267a1.1 1.1 0 0 0-1.55-.117"
                        fill="rgba(241, 90, 34, 1)" fill-opacity="0.92"></path>
                </svg>
            </div>
        </div>
        <div class="flex justify-around w-1/2">
            <a>Swiggy Corporate</a>
            <a>Search</a>
            <a>Offers</a>
            <a>Help</a>
            <a>Sign In</a>
            <a>Cart</a>
        </div>
    </nav>
    <section class="px-96 py-10">
        <p class="text-xs text-slate-500">Home / Hyderabad / Everythin' Restraunt</p>
        <h1 class="text-2xl font-bold my-4">Everythin' Restraunt</h1>
        <div class="border-[20px] p-4 flex flex-col justify-around min-h-52 rounded-3xl">
            <div class="flex items-center">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" aria-hidden="true"
                    strokeColor="rgba(2, 6, 12, 0.92)" fillColor="rgba(2, 6, 12, 0.92)">
                    <circle cx="10" cy="10" r="9" fill="url(#StoreRating20_svg__paint0_linear_32982_71567)"></circle>
                    <path
                        d="M10.0816 12.865C10.0312 12.8353 9.96876 12.8353 9.91839 12.865L7.31647 14.3968C6.93482 14.6214 6.47106 14.2757 6.57745 13.8458L7.27568 11.0245C7.29055 10.9644 7.26965 10.9012 7.22195 10.8618L4.95521 8.99028C4.60833 8.70388 4.78653 8.14085 5.23502 8.10619L8.23448 7.87442C8.29403 7.86982 8.34612 7.83261 8.36979 7.77777L9.54092 5.06385C9.71462 4.66132 10.2854 4.66132 10.4591 5.06385L11.6302 7.77777C11.6539 7.83261 11.706 7.86982 11.7655 7.87442L14.765 8.10619C15.2135 8.14085 15.3917 8.70388 15.0448 8.99028L12.7781 10.8618C12.7303 10.9012 12.7095 10.9644 12.7243 11.0245L13.4225 13.8458C13.5289 14.2757 13.0652 14.6214 12.6835 14.3968L10.0816 12.865Z"
                        fill="white"></path>
                    <defs>
                        <linearGradient id="StoreRating20_svg__paint0_linear_32982_71567" x1="10" y1="1" x2="10" y2="19"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#21973B"></stop>
                            <stop offset="1" stop-color="#128540"></stop>
                        </linearGradient>
                    </defs>
                </svg>
                <h1 class="font-bold ml-2">4.1 (33K+ ratings) . ₹350 for two</h1>
            </div>
            <p class="text-orange-600 underline font-semibold">Burgers, Biriyani, Dosa...</p>
            <p class="font-bold">20-25 mins</p>
        </div>
    </section>
    <section class="px-96 pb-10">
        <h1 class="font-bold text-2xl mb-4">Deals for you</h1>
        <div class="overflow-y-scroll no-scrollbar">
            <div class="flex">
                <div class="border-2 p-4 flex border-slate-200 rounded-xl mr-4 min-w-[300px]">
                    <img class="size-16 mr-2"
                        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_96,h_96/rng/md/ads/production/d07196b25b85d1fd9951e10c255ab737" />
                    <div>
                        <h1 class="font-bold">Extra 25₹ Off</h1>
                        <p>APPLICABLE OVER & ABOVE COUPONS</p>
                    </div>
                </div>
                <div class="border-2 p-4 flex border-slate-200 rounded-xl mr-4 min-w-[300px]">
                    <img class="size-16 mr-2"
                        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_96,h_96/rng/md/ads/production/sxpqfawqimysnby0vpfe" />
                    <div>
                        <h1 class="font-bold">Buy One Get One Free</h1>
                        <p>USE BOGO</p>
                    </div>
                </div>
                <div class="border-2 p-4 flex border-slate-200 rounded-xl mr-4 min-w-[300px]">
                    <img class="size-16 mr-2"
                        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_96,h_96/MARKETING_BANNERS/IMAGES/OFFERS/2024/10/21/b115666c-94e4-4f6d-819d-c6e4e464326a_Axis.png" />
                    <div>
                        <h1 class="font-bold">Extra 10% Off</h1>
                        <p>USE AXISFEXT</p>
                    </div>
                </div>
                <div class="border-2 p-4 flex border-slate-200 rounded-xl mr-4 min-w-[300px]">
                    <img class="size-16 mr-2"
                        src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_96,h_96/rng/md/ads/production/d07196b25b85d1fd9951e10c255ab737" />
                    <div>
                        <h1 class="font-bold">Extra 25₹ Off</h1>
                        <p>APPLICABLE OVER & ABOVE COUPONS</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="px-96 pb-10">
        <h1 class="font-bold text-2xl mb-4">Top Picks</h1>
        <div class="flex overflow-y-scroll no-scrollbar">
            <div *ngFor="let dish of dishes">
                <div
                    class="p-4 bg-black text-white min-w-48 rounded-xl mr-4 min-h-[290px] flex flex-col justify-between">
                    <p class="text-xl">{{dish.title}}</p>
                    <p class="text-xs text-slate-400 py-2">{{dish.description}}</p>
                    <img src="{{dish.src}}" />
                    <div class="flex justify-between items-center -mt-8">
                        <p>{{dish.price}}</p>
                        <button class="bg-white text-green-600 font-bold p-2 rounded-md">Add Item</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>